body {
	line-height: 1.7;
	color: lighten($black, 30%);
	font-weight: 400;
	font-size: $font-size-base - .1rem;
	font-family: $font-family-monospace;
	font-family: $font-family-sans-serif;
}
::-moz-selection { 
	background: $black;
	color: $white;
}
::selection { 
	background: $black;
	color: $white;
}
a {
	transition: .3s all ease;
	&:hover {
		text-decoration: none;
	}
}

.text-black {
	color: $black!important;
}
.bg-black {
	background: $black!important;
}

.line-height-sm {
	line-height: 1.3;
}
.line-height-xs {
	line-height: 1;
}

.site-wrap {
	&:before {
		transition: .3s all ease-in-out;
		background: rgba(0,0,0,.6);
		content: "";
		position: absolute;
		z-index: 2000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
	}
	.offcanvas-menu & {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn {
	// text-transform: uppercase;
	position: relative;
	// transition: .2s all ease-in-out!important;
	top: 0;
	// letter-spacing: .05em;
	// padding: 10px 20px;
	&:hover, &:active, &:focus {
		outline: none;
		box-shadow: none!important;
	}
	&.btn-secondary {
		background-color: lighten($secondary, 45%);
		border-color: lighten($secondary, 45%);
		color: $black;
	}
	&.btn-sm {
		font-size: $font-size-base - .1rem;
	}
	&.btn-primary {
		// font-weight: 300;
		// letter-spacing: .2em;
	}
	&:hover {
		box-shadow: 0 5px 20px -7px rgba(0,0,0,.9)!important;
	}

	&.btn-white {
		&.btn-outline-white {
			border-color: $white;
			background: transparent;
			color: $white;
			&:hover {
				background: $white;
				color: $black;
			}
		}
	}
	
}

.bg-black {
	background: $black;
}
.form-control {
	height: 47px;
	&:active, &:focus {
		border-color: $primary;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
	}
}

.site-section {
	padding: 3em 0;
	@include media-breakpoint-up(md) {
		padding: 7em 0;
	}

	&.site-section-sm {
		padding: 4em 0;
	}
}

.site-section-heading {
	font-size: 30px;
	color: $gray-1;
	position: relative;
	&:before {
		content: "";
		left: 0%;
		top: 0;
		position: absolute;
		width: 40px;
		height: 2px;
		background: $primary;
	}
	&.text-center {
		&:before {
			content: "";
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			position: absolute;
			width: 40px;
			height: 2px;
			background: $primary;
		}	
	}
	
}
.site-footer {
	padding: 4em 0;
	
	.footer-heading {
		font-size: 20px;
	}
	a {
		color: $black;
	}
	ul {
		li {
			margin-bottom: 10px;
		}
	}
}

.bg-text-line {
  display: inline;
  background: $black;
  box-shadow: 20px 0 0 $black, -20px 0 0 $black;
}

.bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: center center;
	&.center {
		background-position: top center;
	}
	&.fixed {
		background-position: fixed!important;
	}
	&.overlay, &.overlay-primary, &.overlay-info, &.overlay-success, &.overlay-warning {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0; bottom: 0; right: 0; left: 0;
		}
	}
	&.overlay {
		&:before {
			background: rgba($black, .4);
		}
	}
	&.overlay-primary {
		&:before {
			background: rgba($primary, .9);
		}
	}
	&.overlay-info {
		&:before {
			background: rgba($info, .9);
		}
	}
	&.overlay-success {
		&:before {
			background: rgba($success, .9);
		}
	}
	&.overlay-success {
		&:before {
			background: rgba($warning, .9);
		}
	}
}
.display-3, .display-2, .display-4 {
	@include media-breakpoint-down(sm) {
		font-size: 2rem!important;
	}
}

.bg-md-height {
	@include media-breakpoint-down(md) {
		height: 300px;
	}
}
.bg-sm-height {
	@include media-breakpoint-down(sm) {
		height: 300px;
	}
}