
  .label{
    color: #868685;
  }
  .site-navbar {
    background-color: #5c0100;
  }
  .site-navbar .site-navigation .site-menu > li > a {
    font-size: 17px;
    font-family: 'brandon grotesque';
  }
  body{
    background-color: #f2f2f2;
  }
  .contact input ,.contact textarea {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #ededea;
  }
  .contact input:focus,.contact textarea:focus {
    border-color: #000;
  }
  .contact input[type=text],.contact select,.contact textarea {
    width: 100%;
    padding: 3px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #fff;
  }
  .heading::after {
    left: 20%;
  }
  .contact ::placeholder {
    color: #ccc;
  }
  .contact-div h5,.contact-div p{
    font-family: 'brandon grotesque';
    color: #fff;
  }
  .contact-div .fa{
    color: #fe8d91;
  }
  .site-footer {
    background-color: #5c0100;
    background-image: none;
    min-height: 590px;
    margin-top: -590px;
  }
  .side-profile-div {
    background-color: #eaeaea;
  }
  .white-sec {
    background-color: #FFF !important;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.12), 0 4px 10px 0 rgba(0,0,0,.16);
  }
  .label-profile {
    /* font-size: 12px; */
    background-color: #ecedef;
    border: 0;
    box-shadow: none;
    padding: .3125rem 1.3125rem .3125rem 1.625rem;
    outline: 0;
    color: #000;
    position: relative;
    margin-right: 30px;
    letter-spacing: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: .3125rem;
    vertical-align: middle;
    line-height: 3;
  }
  .label-profile::after {
    content: '';
    display: block;
    height: 100%;
    width: 20px;
    background-image: url(../images/skill-2.png);
    position: absolute;
    right: -19px;
    top: 0px;
    background-position: right;
  }
  @import url(../../css/rating.css);
  @import url(../css/common/timeline.css);
  @font-face {
   font-family: GothamLight;
   src: url(GothamLight.ttf);
 }
/*@font-face {
   font-family: GothamMedium;
   src: url(GothamMedium.ttf);
   }*/
   @font-face {
     font-family: GothamSSm-Book;
     src: url(GothamSSm-Book.ttf);
   }
/*h3{
    font-family:GothamMedium; 
    font-size: 18px;
    }*/
    .edu-date,.emp-date{
      
      
      font-size: 18px
    }
    p{
      font-family: GothamSSm-Book;
      font-size: 14px;
    }
    .shaded{
      box-shadow: 0px 1px 4px 0px #9e9e9e;
    }
    .btn-change{
      color: #1a973f !important;
      border: 0px !important;
      box-shadow: 1px 2px 5px 0px #ccc !important;
      border-radius: 0px;
      background-color: white;
    }
    .base-fields{
      width: 100%;
      height: 40px !important;
      border: 2px solid #c7c7c7 !important;
      padding-left: 13px;
      border-radius: 0px;
      color: #333 !important;
      margin-top: 5px;
      background-color: white;
    }
    .btn-change span{
      margin-right: 7px;
      font-size: 13px;
    }
    .glyphicon-plus{
      -webkit-text-stroke: 2px white;
      font-size: 14px !important;
    }
    .profile-main{
      /*padding-bottom: 100px;*/
      padding-bottom: 50px;
    }
    .btn-change:hover{
      box-shadow: 1px 2px 5px 0px #9e9e9e;
    }
    .profile-div{
      background-color: #ffffff;
      padding: 20px 15px;
    }
    .prof-username{
      padding-right: 20px;
    }
    .label-profile
    {
      font-weight: bolder;
      font-size: 10px;
      background-color: #ecedef;
      border: 0;
      box-shadow: none;
      padding: .3125rem 1.3125rem .3125rem 1.625rem;
      outline: 0;
      color: #000;
      position: relative;
      margin-right: 30px;
      letter-spacing: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: .3125rem;
      vertical-align: middle;
      line-height: 3;
    }
    .label-profile::after{
      content: '';
      display: block;
      height: 100%;
      width: 20px;
      background-image: url(../assets/images/skill-2.png);
      position: absolute;
      right: -19px;
      top: 0px;
      background-position: right;

    }
/*.user-exp i
{
    color: #00b22d !important;
    }*/
    .side-portfolioinner-div{
      background-color: white;
      padding-top: 30px;
    }
    .freelancer-prog{
      height: 6px;
      background-color: #ccc;
      margin-bottom: 0px;
    }
    .freelancer-prog .progress-bar-success{
      width: 95%;
      background-color: #00b22d;
    }
    .hourly-rate{
      background-image: url("../images/hourl.png");
      background-size: contain;
      padding: 8px 21px 7px;
      background-repeat: no-repeat;
      color: white;
      font-size: 16px;
    }
    .btn-contact{
      background-color: white;
      color: #5c0100;
      padding: 10px 0px;
      border: 1px solid  #5c0100;
      font-size: 18px;
      border-radius: 5px;
    }
    .btn-contact:hover,.btn-contact:focus,.btn-contact:active{
      background-color: #fe8d91;
      color: white; 
    }
    .education,.employer{
      margin-right: 25px;

    }
    .rating-container .filled-stars{
      position: relative !important; 
    }
    .rating-main p{
      margin-bottom: 1px;
      color: #868686;
    }
    .rating-main h5{
      margin-top: 2px;
      font-size: 18px;
    }
    .profile-info{
      padding-bottom: 15px !important;
      border-bottom: 1px solid #ccc;
    }
    .circle-add{
      color: #00b22d;
      font-size: 22px;
    }
    .circle-icon {
      line-height: 2;
      width: 20px;
      margin-right: 6px;
      height: 20px;
      text-align: center;
      display: inline-block;
      -moz-border-radius: 100px;
      font-size: 11px;
      box-shadow: 1px 2px 8px 0px #9e9e9e !important;
      background-color: #fe8d91;
      -webkit-border-radius: 100px;
      color: #fff !important;
      border: 0px;
      outline: none;

      border-radius: 100px;

      /* -webkit-box-shadow: 0px 0px 2px #888; */
      /* box-shadow: 0px 0px 2px #888; */
    }
    .indicator{
      /* font-size: 12px; */
      /* font-weight: bold; */
      /* color: #FFF; */
      background: #00b22d;
      /* line-height: 13px; */
      width: 7px;
      height: 7px;
      border-radius: 2em;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      -o-border-radius: 2em;
      text-align: center;
      display: inline-block;

      position: relative;
      padding: 2px 0 0;
      bottom: 2px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
    }
    @media(min-width: 760px){


      .close{

        color: #c76b6b;
        font-size: 25px;
        opacity: inherit
      }
    }
   /* background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;*/
  }
  .download-file{
    font-size: 28px !important;
  }
  .side-profile-div{
    background-color: #eaeaea;
  }
  .modal{
    background-color: rgb(204, 204, 204, 0.7) !important;
  }
  .modal {
    text-align: center;
    padding: 0!important;
  }

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }


  .modal-header,.modal-footer{
    background-color: #eee;

  }
  .modal-header h3
  {
    font-family: sans-serif !important; 
  }
  
  
  label{

    color: #222;
    font-weight: 700;
    font-size: 13px;

    text-align: left !important;
  }
  .head-green{
    color: #666 !important;
  }

  