  /* Base */
  
  @font-face {
      font-family: Sweet Easy;
      src: url('fonts/Sweet Easy personal Use.ttf');
  }
  
  @font-face {
      font-family: Segoe UI;
      src: url('fonts/segoeui.ttf');
  } 
  
  ::-moz-selection {
      background: #EDAEB4;
      color: #fff;
  }
  
  ::selection {
      background: #EDAEB4;
      color: #fff;
  }
  
  a {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
  }
  
  a:hover {
      text-decoration: none;
      color: #fff;
  }
  
  .text-black {
      color: #000 !important;
  }
  
  .menu-drop ul .menu-drop-list {
      display: inline;
      list-style: none;
      padding-right: 20px;
  }
  
  .bg-black {
      background: #000 !important;
  }
  
  .line-height-sm {
      line-height: 1.3;
  }
  
  .line-height-xs {
      line-height: 1;
  }
  
  .site-wrap:before {
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      background: rgba(0, 0, 0, 0.6);
      content: "";
      position: absolute;
      z-index: 2000;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
  }
  
  .offcanvas-menu .site-wrap {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      overflow: hidden;
  }
  
  .offcanvas-menu .site-wrap:before {
      opacity: 1;
      visibility: visible;
  }
  
  .dash {
      margin-right: 20px;
  }
  
  .btn {
      position: relative;
      top: 0;
  }
  
  .btn:hover,
  .btn:active,
  .btn:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
  }
  
  .btn.btn-secondary {
      background-color: #e6e7e9;
      border-color: #e6e7e9;
      color: #000;
  }
  
  .btn.btn-sm {
      font-size: 0.9rem;
  }
  
  .btn:hover {
      -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
      box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
  }
  
  .btn.btn-white.btn-outline-white {
      border-color: #fff;
      background: transparent;
      color: #fff;
  }
  
  .btn.btn-white.btn-outline-white:hover {
      background: #fff;
      color: #000;
  }
  
  .bg-black {
      background: #000;
  }
  
  .form-control {
      height: 47px;
  }
  
  .form-control:active,
  .form-control:focus {
      border-color: #f23a2e;
  }
  
  .form-control:hover,
  .form-control:active,
  .form-control:focus {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
  }
  
  .team-section {
      /*background-color: #363636;*/
  }
  
  .profile-section {
      background-color: #f5f5f2 !important;
  }
  
  .site-section {
      padding: 3em 0;
  }
  
  @media (min-width: 768px) {
      .site-section {
          padding: 7em 0;
      }
  }
  
  .site-section.site-section-sm {
      padding: 4em 0;
  }
  
  .site-section-heading {
      font-size: 30px;
      color: #25262a;
      position: relative;
  }
  
  .site-section-heading:before {
      content: "";
      left: 0%;
      top: 0;
      position: absolute;
      width: 40px;
      height: 2px;
      background: #f23a2e;
  }
  
  .site-section-heading.text-center:before {
      content: "";
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      width: 40px;
      height: 2px;
      background: #f23a2e;
  }
  
  .site-footer {
      padding-top: 4em;
      padding-bottom: 0rem;
      /*background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 *
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 *
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
      background-image: linear-gradient(to top, #edae98, #f6dcd3, #f6dcd3);
      /* Standard syntax (must be last) */
  }
  
  .site-footer .footer-heading {
      font-size: 20px;
      color: #5c0100;
  }

  .site-footer .footer-heading span{
    display: inline-block;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 2px;
  }
  
  .site-footer a {
      font-size: 16px;
      color: #2f2f2f;
      word-break: break-all;
  }
  
  .site-footer ul li {
      margin-bottom: 0px;
  }
  
  .site-footer .bottom a {
      color: #666666;
      font-family: Segoe UI;
      font-size: 15px;
      font-weight: 700;
  }
  
  .bg-text-line {
      display: inline;
      background: #000;
      -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
      box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  }
  
  .bg-image {
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      background-position: center center;
  }
  
  .bg-image.center {
      background-position: top center;
  }
  
  .bg-image.fixed {
      background-position: fixed !important;
  }
  
  .bg-image.overlay,
  .bg-image.overlay-primary,
  .bg-image.overlay-info,
  .bg-image.overlay-success,
  .bg-image.overlay-warning {
      position: relative;
  }
  
  .bg-image.overlay:before,
  .bg-image.overlay-primary:before,
  .bg-image.overlay-info:before,
  .bg-image.overlay-success:before,
  .bg-image.overlay-warning:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
  }
  
  .bg-image.overlay:before {
      background: rgba(0, 0, 0, 0.4);
  }
  
  .bg-image.overlay-primary:before {
      background: rgba(242, 58, 46, 0.9);
  }
  
  .bg-image.overlay-info:before {
      background: rgba(23, 162, 184, 0.9);
  }
  
  .bg-image.overlay-success:before {
      background: rgba(40, 167, 69, 0.9);
  }
  
  .bg-image.overlay-success:before {
      background: rgba(238, 198, 10, 0.9);
  }
  
  @media (max-width: 767.98px) {
      .display-3,
      .display-2,
      .display-4 {
          font-size: 2rem !important;
      }
  }
  
  @media (max-width: 991.98px) {
      .bg-md-height {
          height: 300px;
      }
  }
  
  @media (max-width: 767.98px) {
      .bg-sm-height {
          height: 300px;
      }
  }
  /* Navbar */
  
  .site-navbar-wrap {
      position: relative;
      z-index: 99;
      width: 100%;
  }
  
  .site-navbar-wrap a {
      color: #fff;
  }
  
  .site-navbar-wrap .site-navbar-top {
      line-height: 50px;
      font-size: 0.8rem;
      color: #fff;
  }
  
  .site-navbar ul li.active a {
      color: #fff;
  }
  
  .site-navbar ul li.active {
      border-bottom: 4px solid #fff;
  }
  
  .site-navbar-top,
  .site-navbar {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .site-navbar {
      background-color: #000;
      margin-bottom: 0px;
      width: 100%;
      border-bottom: none;
  }
  
  .site-navbar .site-logo {
      font-weight: 200;
  }
  
  .site-navbar .site-logo a {
      font-weight: 200;
      color: #000;
  }
  
  .site-navbar .site-navigation .site-menu {
      margin-bottom: 0;
  }
  
  .site-navbar .site-navigation .site-menu .active > a {
      color: #fff;
  }
  
  .site-navbar .site-navigation .site-menu a {
      /*text-decoration: none !important;*/
      font-size: 15px;
      display: inline-block;
  }
  
  .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 5px 20px;
  }
  
  .site-navbar .site-navigation .site-menu > li > a {
      padding: 0px 10px;
      /*text-transform: uppercase;*/
      letter-spacing: .05em;
      font-size: 15px;
      /*text-decoration: none !important;*/
  }
  
  .site-navbar .site-navigation .site-menu > li > a:hover {
      color: #fff;
  }
  
  .site-navbar .site-navigation .site-menu > li:last-child {
      padding-right: 0;
  }
  
  .site-navbar .site-navigation .site-menu > li:last-child > a {
      padding-right: 0;
  }
  
  .site-navbar .site-navigation .site-menu .has-children {
      position: relative;
  }
  
  .site-navbar .site-navigation .site-menu .has-children > a {
      position: relative;
      padding-right: 20px;
  }
  
  .site-navbar .site-navigation .site-menu .has-children > a:before {
      position: absolute;
      content: "\e313";
      font-size: 16px;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: 'icomoon';
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown {
      visibility: hidden;
      opacity: 0;
      top: 100%;
      position: absolute;
      text-align: left;
      -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
      box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
      border-left: 1px solid #edf0f5;
      border-right: 1px solid #edf0f5;
      border-bottom: 1px solid #edf0f5;
      padding: 10px 0;
      margin-top: 20px;
      margin-left: 0px;
      background: #fff;
      -webkit-transition: 0.2s 0s;
      -o-transition: 0.2s 0s;
      transition: 0.2s 0s;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
      position: absolute;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
      text-transform: none;
      letter-spacing: normal;
      -webkit-transition: 0s all;
      -o-transition: 0s all;
      transition: 0s all;
      color: #343a40;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
      color: #000 !important;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
      list-style: none;
      padding: 0;
      margin: 0;
      min-width: 200px;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
      padding: 5px 20px;
      display: block;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
      color: #f23a2e;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
      content: "\e315";
      right: 20px;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
      left: 100%;
      top: 0;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a,
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
      color: #f23a2e;
  }
  
  .site-navbar .site-navigation .site-menu .has-children a {
      text-transform: uppercase;
  }
  
  .site-navbar .site-navigation .site-menu .has-children:hover > a,
  .site-navbar .site-navigation .site-menu .has-children:focus > a,
  .site-navbar .site-navigation .site-menu .has-children:active > a {
      color: #000;
  }
  
  .site-navbar .site-navigation .site-menu .has-children:hover,
  .site-navbar .site-navigation .site-menu .has-children:focus,
  .site-navbar .site-navigation .site-menu .has-children:active {
      cursor: pointer;
  }
  
  .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
  .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
  .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      margin-top: 0px;
      visibility: visible;
      opacity: 1;
  }
  
  .site-mobile-menu {
      width: 300px;
      position: fixed;
      right: 0;
      z-index: 2000;
      padding-top: 20px;
      background: #fff;
      height: calc(100vh);
      -webkit-transform: translateX(110%);
      -ms-transform: translateX(110%);
      transform: translateX(110%);
      -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
      box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
  }
  
  .offcanvas-menu .site-mobile-menu {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
  }
  
  .site-mobile-menu .site-mobile-menu-header {
      width: 100%;
      float: left;
      padding-left: 20px;
      padding-right: 20px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
      font-size: 30px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 0px;
      line-height: 1;
      cursor: pointer;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
      color: #25262a;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
      display: inline-block;
      text-transform: uppercase;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
      max-width: 70px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
      text-decoration: none;
  }
  
  .site-mobile-menu .site-mobile-menu-body {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding: 20px;
      height: calc(100vh - 52px);
      padding-bottom: 150px;
  }
  
  .site-mobile-menu .site-nav-wrap {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
  }
  
  .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529;
  }
  
  .site-mobile-menu .site-nav-wrap a:hover {
      color: #f23a2e;
  }
  
  .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block;
  }
  
  .site-mobile-menu .site-nav-wrap li.active > a {
      color: #f23a2e;
  }
  
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
  }
  
  .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
      background: #f8f9fa;
  }
  
  .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
      font-size: 12px;
      z-index: 20;
      font-family: "icomoon";
      content: "\f078";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
      transform: translate(-50%, -50%) rotate(-180deg);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
  }
  
  .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  
  .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%;
  }
  
  .site-mobile-menu .site-nav-wrap > li > a {
      padding-left: 20px;
      font-size: 20px;
  }
  
  .site-mobile-menu .site-nav-wrap > li > ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  .site-mobile-menu .site-nav-wrap > li > ul > li {
      display: block;
  }
  
  .site-mobile-menu .site-nav-wrap > li > ul > li > a {
      padding-left: 40px;
      font-size: 16px;
  }
  
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
      padding: 0;
      margin: 0;
  }
  
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
      display: block;
  }
  
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
      font-size: 16px;
      padding-left: 60px;
  }
  /* Blocks */
  
  .site-blocks-cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
  }
  
  .site-blocks-cover.overlay {
      position: relative;
  }
  
  .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4);
  }
  
  .site-blocks-cover,
  .site-blocks-cover .row {
      min-height: 600px;
      height: calc(100vh);
  }
  
  .site-blocks-cover.inner-page,
  .site-blocks-cover.inner-page .row {
      min-height: 600px;
      height: calc(80vh);
  }
  
  .site-blocks-cover .sub-text {
      font-size: 1.1rem;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.7);
      letter-spacing: .2em;
  }
  
  .site-blocks-cover h1 {
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      font-size: 3rem;
  }
  
  .site-blocks-cover h1 strong {
      font-weight: 900;
  }
  
  @media (min-width: 768px) {
      .site-blocks-cover h1 {
          font-size: 5rem;
          font-weight: 300;
          line-height: 1.2;
      }
  }
  
  .site-blocks-cover p {
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5;
  }
  
  .site-blocks-cover .intro-text {
      font-size: 16px;
      line-height: 1.5;
  }
  
  .site-heading {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 2rem;
  }
  
  @media (min-width: 768px) {
      .site-heading {
          font-size: 3rem;
      }
  }
  
  .site-heading strong {
      font-weight: 900;
  }
  
  .site-block-1 {
      padding-top: 50px;
  }
  
  @media (min-width: 992px) {
      .site-block-1 {
          padding-top: 0;
          position: absolute;
          width: 100%;
          -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          transform: translateY(-100%);
      }
  }
  
  .site-block-appointment {
      background: #ece8d9 !important;
  }
  
  .site-block-appointment form {
      -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
  }
  
  .text-white-opacity-5 {
      color: rgba(255, 255, 255, 0.5);
  }
  
  .text-black-opacity-5 {
      color: rgba(0, 0, 0, 0.5);
  }
  
  .site-block-feature {
      background: rgba(0, 0, 0, 0.5);
      position: relative;
  }
  
  .site-block-feature .icon {
      font-size: 50px;
  }
  
  .site-block-feature h3 {
      font-size: 15px;
      letter-spacing: .1em;
      text-transform: uppercase;
      color: #fff;
  }
  
  .site-block-feature p {
      color: rgba(255, 255, 255, 0.4);
      font-size: 1rem;
  }
  
  .site-block-feature p:last-child {
      margin-bottom: 0;
  }
  
  .site-block-feature-2 .icon {
      font-size: 50px;
      position: relative;
      line-height: 1;
  }
  
  .site-block-feature-2 h3 {
      font-size: 1.5rem;
  }
  
  .site-block-3 .row-items {
      height: calc(50% - 15px);
      margin-bottom: 30px;
  }
  
  .site-block-3 .row-items.last {
      height: calc(50% - 15px);
      margin-bottom: 0;
  }
  
  .site-block-3 .feature {
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      height: 100%;
  }
  
  .site-block-3 .feature h3 {
      color: #000;
      font-size: 1.4rem;
  }
  
  .site-block-3 .feature:hover,
  .site-block-3 .feature:active,
  .site-block-3 .feature:focus,
  .site-block-3 .feature.active {
      -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
  }
  
  .site-block-half .image,
  .site-block-half .text {
      width: 100%;
  }
  
  @media (min-width: 992px) {
      .site-block-half .image,
      .site-block-half .text {
          width: 50%;
      }
  }
  
  @media (max-width: 991.98px) {
      .site-block-half .image {
          margin-bottom: 50px;
      }
  }
  
  .site-block-half .text {
      padding-left: 15px;
      padding-right: 15px;
  }
  
  @media (min-width: 992px) {
      .site-block-half .text {
          padding: 4rem;
      }
  }
  
  @media (min-width: 1200px) {
      .site-block-half .text {
          padding: 8rem;
      }
  }
  
  .site-block-half .bg-image {
      background-position: center center;
  }
  
  @media (max-width: 991.98px) {
      .site-block-half .bg-image {
          height: 400px;
      }
  }
  
  .site-block-half.site-block-video .image {
      position: relative;
  }
  
  .site-block-half.site-block-video .image .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 20px;
      width: 70px;
      height: 70px;
      background: #fff;
      display: block;
      border-radius: 50%;
      opacity: 1;
      color: #f23a2e !important;
  }
  
  .site-block-half.site-block-video .image .play-button:hover {
      opacity: 1;
  }
  
  .site-block-half.site-block-video .image .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-60%, -50%);
      -ms-transform: translate(-60%, -50%);
      transform: translate(-60%, -50%);
  }
  
  .site-block-testimony img {
      max-width: 140px;
      border-radius: 50%;
  }
  
  .site-block-testimony p {
      font-size: 1.2rem;
  }
  
  .site-block-testimony.active {
      background: #fff;
      -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
  }
  
  .post-entry {
      position: relative;
      overflow: hidden;
      border: 1px solid #e6e6e6;
  }
  
  .post-entry,
  .post-entry .text {
      border-radius: 4px;
      border-top: none !important;
  }
  
  .post-entry .date {
      color: #a6a6a6;
      font-weight: normal;
      letter-spacing: .1em;
  }
  
  .post-entry .image {
      overflow: hidden;
      position: relative;
  }
  
  .post-entry .image img {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
  
  .post-entry:hover .image img,
  .post-entry:active .image img,
  .post-entry:focus .image img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
  }
  
  .block-13,
  .slide-one-item {
      position: relative;
      z-index: 1;
  }
  
  .block-13 .owl-nav,
  .slide-one-item .owl-nav {
      position: relative;
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  
  .block-13 .owl-nav .owl-prev,
  .block-13 .owl-nav .owl-next,
  .slide-one-item .owl-nav .owl-prev,
  .slide-one-item .owl-nav .owl-next {
      position: relative;
      display: inline-block;
      padding: 20px;
      font-size: 30px;
      color: #fff;
  }
  
  .block-13 .owl-nav .owl-prev.disabled,
  .block-13 .owl-nav .owl-next.disabled,
  .slide-one-item .owl-nav .owl-prev.disabled,
  .slide-one-item .owl-nav .owl-next.disabled {
      opacity: .2;
  }
  
  .block-13 .owl-stage-outer {
      padding-top: 30px;
      padding-bottom: 30px;
  }
  
  .block-13 .owl-dots {
      text-align: center;
  }
  
  .block-13 .owl-dots .owl-dot {
      display: inline-block;
      margin: 5px;
  }
  
  .block-13 .owl-dots .owl-dot > span {
      line-height: 0;
      display: inline-block;
      width: 28px;
      height: 4px;
      border: none;
      float: left;
      background: #cccccc;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
  }
  
  .block-13 .owl-dots .owl-dot.active > span {
      background: #5c0100;
  }
  
  .slide-one-item.home-slider .owl-nav {
      position: absolute !important;
      top: 50% !important;
      bottom: auto !important;
      width: 100%;
  }
  
  .slide-one-item.home-slider .owl-prev {
      left: 10px !important;
  }
  
  .slide-one-item.home-slider .owl-next {
      right: 10px !important;
  }
  
  .slide-one-item.home-slider .owl-prev,
  .slide-one-item.home-slider .owl-next {
      color: #fff;
      position: absolute !important;
      top: 50%;
      padding: 0px;
      height: 50px;
      width: 50px;
      border-radius: 0%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.2);
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      line-height: 0;
      text-align: center;
      font-size: 25px;
  }
  
  @media (min-width: 768px) {
      .slide-one-item.home-slider .owl-prev,
      .slide-one-item.home-slider .owl-next {
          font-size: 25px;
      }
  }
  
  .slide-one-item.home-slider .owl-prev > span,
  .slide-one-item.home-slider .owl-next > span {
      position: absolute;
      line-height: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  
  .slide-one-item.home-slider .owl-prev:hover,
  .slide-one-item.home-slider .owl-prev:focus,
  .slide-one-item.home-slider .owl-next:hover,
  .slide-one-item.home-slider .owl-next:focus {
      background: black;
  }
  
  .slide-one-item.home-slider:hover .owl-nav,
  .slide-one-item.home-slider:focus .owl-nav,
  .slide-one-item.home-slider:active .owl-nav {
      opacity: 10;
      visibility: visible;
  }
  
  .block-12 {
      position: relative;
  }
  
  .block-12 figure {
      position: relative;
  }
  
  .block-12 figure:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
      background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
  }
  
  .block-12 .text-overlay {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      z-index: 10;
  }
  
  .block-12 .text-overlay h2 {
      color: #fff;
  }
  
  .block-12 .text {
      position: relative;
      top: -100px;
  }
  
  .block-12 .text .meta {
      text-transform: uppercase;
      padding-left: 40px;
      color: #fff;
      display: block;
      margin-bottom: 20px;
  }
  
  .block-12 .text .text-inner {
      -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
      background: #fff;
      padding: 10px;
      margin-right: 30px;
      position: relative;
  }
  
  @media (min-width: 576px) {
      .block-12 .text .text-inner {
          padding: 20px;
      }
  }
  
  @media (min-width: 768px) {
      .block-12 .text .text-inner {
          padding: 30px 40px;
      }
  }
  
  .block-12 .text .text-inner:before {
      position: absolute;
      content: "";
      width: 80px;
      height: 4px;
      margin-top: -4px;
      background: #f23a2e;
      top: 0;
  }
  
  .block-12 .text .text-inner .heading {
      font-size: 20px;
      margin: 0;
      padding: 0;
  }
  
  .block-16 figure {
      position: relative;
  }
  
  .block-16 figure .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 20px;
      width: 70px;
      height: 70px;
      background: #fff;
      display: block;
      border-radius: 50%;
      opacity: 1;
      color: #f23a2e !important;
  }
  
  .block-16 figure .play-button:hover {
      opacity: 1;
  }
  
  .block-16 figure .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-60%, -50%);
      -ms-transform: translate(-60%, -50%);
      transform: translate(-60%, -50%);
  }
  
  .block-25 ul,
  .block-25 ul li {
      padding: 0;
      margin: 0;
  }
  
  .block-25 ul li .date {
      color: rgba(255, 255, 255, 0.25);
      font-size: 0.8rem;
      display: block;
  }
  
  .block-25 ul li a .image {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
      flex: 0 0 90px;
  }
  
  .block-25 ul li a .image img {
      border-radius: 4px;
      max-width: 100%;
      opacity: 1;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
  }
  
  .block-25 ul li a .text .heading {
      font-size: 0.9rem;
      line-height: 1.5;
      margin: 0;
      padding: 0;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      color: #999999;
  }
  
  .block-25 ul li a .meta {
      color: #f23a2e;
  }
  
  .block-25 ul li a:hover img {
      opacity: .5;
  }
  
  .block-25 ul li a:hover .text .heading {
      color: #fff;
  }
  
  #date-countdown .countdown-block {
      color: rgba(255, 255, 255, 0.4);
  }
  
  #date-countdown .label {
      font-size: 40px;
      color: #fff;
  }
  
  .next-match .image {
      width: 50px;
      border-radius: 50%;
  }
  
  .player {
      position: relative;
  }
  
  .player img {
      max-width: 100px;
      border-radius: 50%;
      margin-bottom: 20px;
  }
  
  .player .team-number {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #f23a2e;
      border-radius: 50%;
      color: #fff;
  }
  
  .player .team-number > span {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
  }
  
  .player h2 {
      font-size: 20px;
      letter-spacing: .2em;
      text-transform: uppercase;
  }
  
  .player .position {
      font-size: 14px;
      color: #b3b3b3;
      text-transform: uppercase;
  }
  
  .site-block-27 ul,
  .site-block-27 ul li {
      padding: 0;
      margin: 0;
  }
  
  .site-block-27 ul li {
      display: inline-block;
      margin-bottom: 4px;
  }
  
  .site-block-27 ul li a,
  .site-block-27 ul li span {
      text-align: center;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      border: 1px solid #ccc;
  }
  
  .site-block-27 ul li.active a,
  .site-block-27 ul li.active span {
      background: #f23a2e;
      color: #fff;
      border: 1px solid transparent;
  }
  
  .block-47 .block-47-image {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      display: block;
  }
  
  .block-47 .block-47-image img {
      border: 5px solid #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  }
  
  .block-47 .block-47-quote {
      padding: 30px;
      font-weight: 300;
      background: #fff;
      border-radius: 7px;
      position: relative;
      -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 768px) {
      .block-47 .block-47-quote {
          margin-left: 40px;
          font-size: 1.2rem;
      }
  }
  
  .block-47 .block-47-quote:before {
      content: "";
      border: 1px solid red;
      z-index: 2;
      position: absolute;
      left: -15px;
      border-width: 0 20px 20px 0;
      border-style: solid;
      border-color: transparent #fff transparent transparent;
  }
  
  .block-47 .block-47-quote .block-47-quote-author {
      font-size: 14px;
      color: #666666;
  }
  
  .site-block-check {
      padding: 0;
      margin: 0 0 30px 0;
  }
  
  .site-block-check li {
      padding: 0;
      margin: 0;
  }
  
  .site-block-check li {
      display: block;
      padding-left: 30px;
      position: relative;
      margin-bottom: 10px;
  }
  
  .site-block-check li:before {
      position: absolute;
      color: #28a745;
      left: 0;
      top: -.3rem;
      font-family: 'icomoon';
      font-size: 1.1rem;
      content: "\e5ca";
  }
  
  .half-sm .text,
  .half-sm .text h2,
  .half-sm .text small {
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
  }
  
  .half-sm .text a small {
      border-bottom: 2px solid transparent;
  }
  
  .half-sm:hover .text,
  .half-sm:focus .text {
      background-image: linear-gradient(to bottom, #eab5a5, #5d0201);
      color: #fff;
  }
  
  .half-sm:hover .text,
  .half-sm:focus .text {
      background-image: linear-gradient(to left, #eab5a5, #5d0201);
      color: #fff;
  }
  
  .half-sm:hover ul li::before {
      color: #fff;
      /* Change the color */
  }
  
  .half-sm:hover .text h2,
  .half-sm:focus .text h2 {
      color: #fff !important;
  }
  
  .half-sm:hover .text a small,
  .half-sm:focus .text a small {
      color: #fff !important;
      border-bottom: 2px solid #fff;
  }
  
  .block-37 {
      border-radius: 4px;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 200px;
  }
  
  .block-37 .image {
      height: 100%;
      background-color: black;
      /* fallback color */
      background-position: center;
      background-size: cover;
      position: relative;
      -webkit-transition: .8s all ease;
      -o-transition: .8s all ease;
      transition: .8s all ease;
  }
  
  .block-37 .image:before {
      content: "";
      visibility: hidden;
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      top: 0;
      left: 0;
      background-color: #f23a2e;
  }
  
  .block-37 .image .block-37-overlay {
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 10px;
  }
  
  .block-37 .image .block-37-overlay .icon {
      font-size: 30px;
      color: #fff;
  }
  
  .block-37:hover .block-37-overlay,
  .block-37:focus .block-37-overlay {
      opacity: 1;
      visibility: visible;
      margin-top: 0px;
  }
  
  .block-37:hover .image,
  .block-37:focus .image {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
  }
  
  .block-37:hover .image:before,
  .block-37:focus .image:before {
      opacity: .7;
      visibility: visible;
  }
  
  .contact-form {
      padding-top: 150px;
      padding-bottom: 150px;
  }
  
  .contact-form h1 {
      color: #2f2f72;
      font-weight: bolder;
  }
  
  input[type=text],input[type=password],input[type=email],input[type=number],
  select,
  textarea {
      width: 100%;
      padding: 7px;
      border: 1px solid #ccc;
      border-radius: 0px;
      box-sizing: border-box;
      margin-bottom: 16px;
      resize: vertical;
  }
  
  #googleMap {
      width: 100%;
      height: 400px;
  }
  
  .team-image-responsive {
      width: 100%;
      height: auto;
  }
  
  .our-goals {
      list-style-position: outside;
  }
  
  .our-goals {
      list-style: none;
      padding: 0px;
  }
  
  .our-goals li {
      color: #7a7a79;
      font-size: 21px;
  }
  
  .our-goals li:before {
      content: "\2713\0020";
      color: #322e75;
  }
  
  .profile-image {
      border-right: 1px solid #dcdcda;
      width: 150px;
      overflow: hidden;
  }
  
  .fontsize17 {
      font-size: 17px;
  }
  /*a.active{
  color: #e0bb75 !important;
  text-decoration: underline !important;
  }*/
  
  .login {
      background-color: #fafafa;
  }
  
  .radio-toolbar input[type="radio"]:checked+label {
      background-color: #e5b4a5;
      color: white;
  }
  
  .radio-toolbar label {
      display: inline-block;
      padding: 5px 20px;
      font-family: Arial;
      font-size: 22px;
      cursor: pointer;
      color: #e5b4a5;
  }
  
  .radio-toolbar input[type="radio"] {
      display: none;
  }
  
  .site-btn {
      position: relative;
      display: inline-block;
      padding: 10px 10px;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px; 
      border-radius: 3px;
      min-width: 100px;
      text-align: center;
      background: #5c0100;
      cursor: pointer;
      border: none;
      color: #fff;
  }
  
  .site-btn a:hover {
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px; 
      border-radius: 3px;
      min-width: 170px;
      text-align: center;
      background: #7ed8dd;
      cursor: pointer;
      border: none;
      color: #fff;
  }
  
  .login-signup-btn a {
      position: relative;
      display: inline-block;
      padding: 17px 10px;
      font-size: 20px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 2px;
      border-radius: 0px;
      min-width: 140px;
      text-align: center;
      cursor: pointer;
      border: none;
      color: #e5b4a5;
      font-family: Segoe UI;
  }
  
  .login-signup-btn a.active {
      position: relative;
      display: inline-block;
      padding: 17px 10px;
      font-size: 20px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 2px;
      border-radius: 0px;
      min-width: 140px;
      text-align: center;
      background: #e5b4a5;
      cursor: pointer;
      border: none;
      color: #fff;
      font-family: Segoe UI;
  }
  
  .site-footer .image-responsive {
      width: 80%;
      height: auto;
  }
  
  .image-responsive {
      width: 100%;
      height: auto;
  }
  
  .banner-pic .image-responsive {
      width: 75%;
      height: auto;
  }
  
  .have-account a {
      color: #5c0100;
      font-size: 16px;
      font-weight: 700;
  }
  
  .signup-note label {
      font-size: 13px;
  }
  
  .signup-note span {
      color: #e5b4a5;
  }
  
  .icon-menu {
      color: #e5b4a5;
  }
  
  .login-note a {
      color: #5c0100;
      font-size: 16px;
  }
  
  .contact-section h4 {
      color: #e5b4a5;
      font-size: 25px;
      font-family: Segoe UI;
  }
  
  .contact-section p {
      color: #595958;
      font-size: 16px;
      font-family: Segoe UI;
  }
  
  .contact-section .contact-detail {
      padding-top: 100px;
      padding-left: 20px;
  }
  
  .contact-section .fa {
      color: #e5b4a5;
  }
  
  input::placeholder,
  textarea::placeholder {
      color: #666666;
  }
  
  .site-blocks-cover1 .row-slider {
      min-height: 315px !important;
  }
  
  .site-blocks-cover1 .row-slider h5 {
      font-family: Segoe UI;
  }
  
  .site-blocks-cover1 .row-slider h2 {
      color: #5c0100;
      line-height: 75px;
      font-family: Sweet Easy;
  }
  
  .site-blocks-cover1 .row-slider span {
      margin-top: 10px;
      color: #fff;
      font-size: 20px;
      font-family: Segoe UI;
  }
  
  .site-blocks-cover1 .row h3 {
      color: #5c0100;
      font-weight: 500;
      font-size: 24px;
      font-family: Segoe UI;
  }
  
  .owl-next,
  .owl-prev {
      background: #e0bb75 !important;
  }
  
  .aboutus p {
      font-family: Segoe UI;
      font-size: 19px;
  }
  
  .promo {
      background: #444;
  }
  
  .promo h4 {
      font-family: Segoe UI;
      color: #fff;
      font-size: 21px;
  }
  
  .text p {
      font-family: Segoe UI;
      font-weight: bold;
  }
  
  .heading::after {
      content: "";
      position: fixed;
      height: 1px;
      background: #666666;
      top: 100%;
      width: 5%;
      left: 50%;
      transform: translateX(-50%);
  }
  
  h4.heading::after {
      content: "";
      position: fixed;
      height: 1px;
      background: #666666;
      top: 100%;
      width: 10%;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .req-box .heading::after {
      content: "";
      position: fixed;
      height: 1px;
      background: #666666;
      top: 80%;
      width: 30%;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .req-box {
      min-height: 375px;
      max-width: 435px;
      border: 2px solid #e5b4a5;
      margin-bottom: 40px;
  }
  
  .req-box ul li {
      list-style: none;
      padding-bottom: 10px;
      font-family: Segoe UI;
  }
  
  .req-box ul li::before {
      content: "■";
      /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #e5b4a5;
      /* Change the color */
      font-size: 10px;
      font-weight: bold;
      /* If you want it to be bold */
      display: inline-block;
      /* Needed to add space between the bullet and the text */
      width: 1em;
      /* Also needed for space (tweak if needed) */
      margin-left: -1em;
      /* Also needed for space (tweak if needed) */
      padding-left: 0px;
  }

  h4.heading {
      color: #e5b4a5;
  }
  
  .twin-button .btn-group button {
      background-color: #5c0100;
      /* Green background */
      border: 1px solid #5c0100;
      /* Green border */
      color: white;
      /* White text */
      font-size: 17px;
      font-weight: 700;
      padding: 0px 24px;
      /* Some padding */
      cursor: pointer;
      /* Pointer/hand icon */
      float: left;
      /* Float the buttons side by side */
  }
  /* Clear floats (clearfix hack) */
  
  .twin-button .btn-group:after {
      content: "";
      clear: both;
      display: table;
  }
  
  .twin-button .btn-group button:not(:last-child) {
      border-right: none;
      /* Prevent double borders */
  }
  /* Add a background color on hover */
  
  .twin-button .btn-group button:hover {
      background-color: #5c0100;
  }
  
  .login-btn {
      background-color: #5c0100;
      border-radius: 5px;
      max-height: 40px;
      width: 160px;
  }
  
  .login-btn a {
      color: #fff;
      font-family: Segoe UI;
      font-weight: 700;
      font-size: 15px;
  }
  .about-section{
    background-color: #fafafa;
  }
  .about-section p{
    color: #2f2f2f;
    font-size: 18px;
  }
  .top-75{
    top: 75px;
  }
  @media (max-width: 768px) {
    .top-75{
      top: 0px;
    }
  }
  #placeholder-input ::placeholder{ color: #ccc !important;}
  .courses-btn {
    font-family: Segoe UI;
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bolder;
    line-height: 16px; 
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    background: #EDAEB4;
    cursor: pointer;
    border: none;
    color: #5c0100;
}

/*The dropdown menu (ul)*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0; 
  display: none; 
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;  
  list-style: none; 
  text-align: left;  
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}
 
 
  /*Links within the dropdown menu*/
  .dropdown-menu> li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal; 
    white-space: nowrap;  
  }

/* Hover/Focus state*/
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus  { 
    text-decoration: none; 
}

h1.numer-leftside{
   position: absolute;
   font-size: 135px;
   font-weight: 900;
   font-family: Segoe UI;
   left: -105px;
   padding-top: 90px;
   color: #ccc;
 }
 h1.numer-rightside{
   position: absolute;
   font-size: 135px;
   font-weight: 900;
   font-family: Segoe UI;
   right: -100px;
   padding-top: 90px;
   color: #ccc;
 }
@media (max-width: 1100px) {
 h1.numer-leftside {
   position: relative;
   font-size: 135px;
   font-weight: 900;
   font-family: Segoe UI;
   left: 10px;
   padding-top: 90px;
   color: #ccc;
 }
 h1.numer-rightside {
   position: relative;
   font-size: 135px;
   font-weight: 900;
   font-family: Segoe UI;
   left: 10px;
   padding-top: 90px;
   color: #ccc;
}
}
ul.laptop-text-ul{
 list-style: none;
}
ul.laptop-text-ul li:before{
 content: '✓';
 color: #5c0100;
 font-weight: bolder;
}
ul.laptop-text-ul li{
 padding-bottom: 5px;
 font-size: 18px;
}
h3.laptop-text-h{
 color: #000;
 font-weight: 700
}
p.laptop-text{
 font-size: 18px;
 line-height: 40px;
}
ul.dropdown-menu li a{
 color: #000 !important;
 padding: 5px;
}
ul.dropdown-menu li:hover{
 background-color: #5c0100;
 color: #fff !important;
}
ul.dropdown-menu li:hover a{
 color: #fff !important;
 padding: 5px;
}
ul.dropdown-menu li.active{
 background-color: #5c0100;
 color: #fff !important;
}
ul.dropdown-menu li.active a{
 color: #fff !important;
 padding: 5px;
}
ul.dropdown-menu{
 min-width: 12rem;
}
  